<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>The Match Picker</title>
    <link rel="stylesheet" href="style1.css">
    
</head>
<body>
<div class="bg-blur"></div>
<div id="welcomeScreen" class="welcome-screen">
  <div class="welcome-box">
    <h1>
        <span class="purple-letter">T</span>he 
        <span class="purple-letter">M</span>atch 
        <span class="purple-letter">P</span>icker
    </h1>
<p class="signature-text">
    By Mohamed Ezer Bouzouraa
</p>

    <button onclick="startApp()">Start</button>
  </div>
</div>

<div id="mainApp" style="display:none;">
  <h2 style="text-align:center; color: white;">Main App</h2>
</div>

<script src="script1.js"></script>

</body>
</html>
